.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  backdrop-filter: blur(10px);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
}

.buttonsWrapper {
  display: inline-flex;
  gap: 25px;
}
.title {
  font-size: 1.2em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.454),
    0px -4px 10px rgba(255, 255, 255, 0.603);
}
.confirmBtn {
  font-family: "Abril Fatface", cursive;
  font-size: 1em;
  border: 0;
  outline: 0;
  color: #000000;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 320px;
  padding: 8px 25px;
  background-color: #2ca51cf7;
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.confirmBtn:hover {
  color: #ffffff;
  transform: translateY(-5px) scale(1.1);
}
.confirmBtn:active {
  transform: translateY(2px) scale(1.1);
}

.cancelBtn {
  font-family: "Abril Fatface", cursive;
  font-size: 1em;
  border: 0;
  outline: 0;
  color: #000000;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  border-radius: 320px;
  padding: 8px 25px;
  background-color: #eb4747f7;
  backdrop-filter: blur(8px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.cancelBtn:hover {
  color: #ffffff;
  transform: translateY(-5px) scale(1.1);
}
.cancelBtn:active {
  transform: translateY(2px) scale(1.1);
}

/**
  |============================
  | Animation
  |============================
*/

.card {
  width: 350px;
  height: 200px;
  transition: all 0.2s;
  position: relative;
}

.cardInner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.046);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.circle {
  width: 100px;
  height: 100px;
  background: repeating-linear-gradient(48deg, #edc524 0%, #ff0000 100%);
  border-radius: 35% 30% 75% 30% / 49% 30% 70% 51%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -15px;
  left: -45px;
}

.circle:nth-child(2) {
  bottom: -15px;
  right: -45px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-30px) scale(1.1);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(30px) scale(1.1);
  }
}
