.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  font-size: 4em;
  padding: 30px;
  margin-bottom: 10px;
  background-color: #000000cb;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(250, 247, 247, 0.429) 0px 3px 3px;
  font-weight: bolder;
  text-align: center;
}

.deviceHeader {
  position: absolute;
  background: #1a1a1a;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 45%;
  z-index: 199;
}
