.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.icon {
  transition: all 0.255s ease;
  padding: 0;
  margin: 0;
  background-color: #ffffff00;
  border: none;
  outline: none;
}
.icon:hover {
  scale: 1.25;
  border-radius: 20%;
  box-shadow: rgba(204, 219, 232, 0.61) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.288) -3px -3px 6px 1px inset;
}
