.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formGroup {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.formGroupNumber {
  width: 350px;
  margin-bottom: 20px;
}
.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #465b4b;
 font-weight: bolder;
}
.input {
  border: 0;
  outline: 0;
  border-radius: 320px;
  padding: 16px;
  margin-bottom: 5px;
  background-color: #ffffff01;
  backdrop-filter: blur(8px);
  box-shadow: inset 2px 2px 5px #8d8363, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.error {
  margin-left: 5px;
  color: #ae1100;
 
}
.btn {
  margin-bottom: 120px;
  width: 350px;
  border: 0;
  outline: 0;
  color: #ae1100;
  font-weight: bold;
  font-size: 1.4em;
  box-shadow: rgba(52, 53, 54, 0.521) 3px 3px 6px 0px inset,
    rgba(128, 122, 122, 0.313) -3px -3px 6px 1px inset;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 320px;
  padding: 16px;
  background-color: #eba147f7;
  
}
.btn:hover {
  color: #178a0c;
}
.btn:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
