:root {
  font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  font-family: "Monserat", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.2px;
  margin: 0 auto;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
    linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
  background-size: 100% 25px, 100% 100%;
  background-repeat: repeat, no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 678px;
  min-height: 100svh;
  margin: 5px auto;
  padding: 25px;
  background-color: #ebecf0;
  background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699");
  background-position: center center;
  background-size: cover;
  box-shadow: rgba(2, 2, 2, 0.733) 0px 19px 38px,
    rgba(0, 0, 0, 0.523) 0px 15px 12px;
  border-radius: 85px;
  border: 8px solid #1a1a1a;
  border-top: 15px solid #1a1a1a;
}
