.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  padding-bottom: 3px;
}
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.userName {
  display: flex;
  margin-left: -8px;
  padding-bottom: 2px;
}
.iconBusinessman {
  margin-top: auto;
  padding-bottom: 5px;
}
.icon {
  transition: all 0.255s ease;
  margin-top: auto;
}
.icon:hover {
  scale: 1.25;
  border-radius: 20%;
  box-shadow: rgba(204, 219, 232, 0.61) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.288) -3px -3px 6px 1px inset;
}
