.deviceHeader {
  position: absolute;
  background: #1a1a1a;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 45%;
  z-index: 199;
}
.image {
  border-radius: 50px;
  margin-top: auto;
}
.text {
  margin-bottom: 25px;
}
.link{
  margin-bottom: auto;
  font-size: 1.7em;
  color: blue;
  font-style:unset;
}